<div id="<%= dom_id one_diary %>">
  <p>
    <strong>タイトル:</strong>
    <%= one_diary.title %>
  </p>

  <p>
    <strong>内容:</strong>
    <%= simple_format(one_diary.content) %>
  </p>

  <p>
    <strong>日付:</strong>
    <%= one_diary.date %>
  </p>

</div>
