<div style="padding: 1px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px; width: 1000px;" id="<%= dom_id one_diary %>">
  <div class="m-3">
    <h4>タイトル:</h4>
    <%= one_diary.title %>
  </div>

  <div class="m-3">
    <h4>内容:</h4>
    <%= simple_format(one_diary.content) %>
  </div>

  <div class="m-3">
    <h4>日付:</h4>
    <%= one_diary.date %>
  </div>

</div>
