<% content_for :title, "Editing one diary" %>

<h1>日記編集</h1>

<%= render "form", one_diary: @one_diary %>

<br>

<div>
  <%= link_to "日記詳細", @one_diary, class: "btn btn-outline-primary" %> |
  <%= link_to "日記一覧", one_diaries_path, class: "btn btn-outline-primary" %>
</div>
