<p style="color: green"><%= notice %></p>

<% content_for :title, "One diaries" %>

<h1>日記一覧</h1>

<div id="one_diaries">
  <% @one_diaries.each do |one_diary| %>
    <%= render one_diary %>
    <p>
      <%= link_to "日記詳細", one_diary, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "新規作成", new_one_diary_path, class: "btn btn-primary" %>
