<p style="color: green"><%= notice %></p>

<% content_for :title, "One diaries" %>
<%= link_to "新規作成", new_one_diary_path, class: "btn btn-outline-primary my-3" %>
<h1>日記一覧</h1>

<div id="one_diaries">
  <% @one_diaries.each do |one_diary| %>
    <p>
    <%= link_to "詳細", one_diary, class: "mx-3 btn btn-outline-primary" %>
    <strong>タイトル:</strong>
    <%= one_diary.title %>
    </p>
  <% end %>
</div>

