<% content_for :title, "Developments" %>

<h1>開発一覧</h1>

<div id="developments">
  <% @developments.each do |development| %>
    <div style="display: grid; grid-template-columns: repeat(3, 1fr);">
      <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
        <h3><%= development.title %></h3><br>
        <%= link_to "詳細を見る", development, class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "新規開発メモ", new_development_path, class: "btn btn-outline-primary my-2" %>
