@import "bootstrap";
@import "simple_calendar";
@import "font-awesome-sass";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.all {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
.title {
  height: 70px; 
}
.main-content {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.diary {
  width: 1000px; 
}

.side-bar {
  top: 0;
  width:500px;
  background-color: #ffffff;
}

.container {
  display: flex;  
  justify-content: space-between;  
  gap: 10px; 
  margin: 20px;
}

.right {
  position: absolute;
  right: 0; 
}
.text {
  width: 1500px;
}
