@import "bootstrap";
@import "simple_calendar";
@import "font-awesome-sass";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.all {
  width:1800px;
 
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  height:2000px;
}
.title {
  // 固定幅
  height: 70px;  // 自動で左右中央揃え
}
.main-content {
  /* メインコンテンツが残りのスペースを占める */
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height:2000px;
}

.diary {
  width: 1000px; 
}

.side-bar {
  top: 0;
  height: 100%;
  height:1300px;
  width:500px;
  background-color: #ffffff;
  height:2000px;
}

.container {
  display: flex;  /* Flexboxを使用 */
  justify-content: space-between;  /* サイドバーとメインコンテンツをスペースを空けて配置 */
  gap: 10px;  /* サイドバーとメインコンテンツの間隔 */
  margin: 20px;
  height:2000px;
}

.right {
  position: absolute;
  right: 0; /* 右寄せ */
}

.text {
  width: 1500px;
  height: 700px;
}

.content {
  height: 700px;
}